:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.error {
  color: red;
}
.loading {
  color: #213547;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  max-width: 1500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* navigation */
.navigation {
  display: flex;
  padding: 0 2em;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #444;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 5em;
}

.logo {
  width: 110px;
  height: auto;
}
.login-button {
  background-color: #213547;
  color: white;
  padding: 0.7em 1.2em;
}
.login-button:hover {
  background-color: #00067c;
  cursor: pointer;
}
.navigation .buttons {
  display: flex;
  gap: 1em;
}

/* --- home page---- */
/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15em 2em;
  background-image: url('./images/animals.png');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100%;
  position: relative;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.47;
  background: #1c1c1c 0% 0% no-repeat padding-box;
}
.hero h1,
h2,
a,
p {
  position: relative;
}
.hero a {
  border: solid 2px #ffffff;
  padding: 0.7em 1.2em;
  color: #ffffff;
  align-self: center;
}
.hero p {
  margin: 0;
  font-size: 1.5rem;
}
.hero h1 {
  justify-self: start;
}
.hero a:hover {
  background-color: #ffffff;
  color: #213547;
}
/* socials secion */
.socials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em 2em;
  background: rgb(240, 240, 240);
  color: #213547;
}
.socials a img {
  width: 32px;
  height: 32px;
}
.socials a:hover img {
  filter: brightness(0.8);
  scale: 1.2;
}
.socials .icons {
  display: flex;
  gap: 5em;
  /* flex: 1; */
}
.socials .text p {
  margin: 0;
  padding: 0;
}
.socials .text h3 {
  margin: 0;
  padding: 0;
}
.socials .text {
  flex: 1;
}
/* testimonials section */
.testimonials-section {
  text-align: center;
  background: #242424;
  padding: 4em 0;
}
.testimonials-section h2 {
  margin-top: 0;
  padding-top: 2em;
  font-size: 2.5em;
}
.testimonials-section h4 {
  font-weight: 600;
  color: #aaaaaa;
  margin-bottom: 0em;
}
.testimonials-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 4em 2em;
  gap: 2em;
  color: #ffffff;
  text-align: center;
}
.testimonial {
  border: solid 1px #444;
  padding: 2.5em 2em;
  margin: 1em 0;
  border-radius: 8px;
  background-color: #1a1a1a;
}
.testimonial:hover {
  border-color: #ffffff;
}
/* about section */
.about-section {
  padding: 10em 4em;
  background-color: #f9f9f9;
  background: url('./images/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;

  position: relative;
}
.about-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.67;
  background: #1c1c1c 0% 0% no-repeat padding-box;
}
.about-section h2 {
  margin-top: 0;
  font-size: 2.5em;
  color: #ffffff;
}
.about-section p {
  margin-bottom: 1em;
  color: #ffffff;
  position: relative;
  font-size: 1.3rem;
}
.about-section a {
  position: relative;
  border: solid 2px #ffffff;
  padding: 0.7em 1.2em;
  color: #ffffff;
}
.about-section a:hover {
  background-color: #ffffff;
  color: #213547;
}

/* contact us section */
.contact-section {
  padding: 4em 2em;
  background-color: #213547;
  color: #ffffff;
  text-align: center;
}
.contact-info {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 0 auto;
}
.contact-section h2 {
  margin-top: 0;
  font-size: 2.5em;
}
.contact-section p {
  margin-bottom: 1em;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 3em 1em;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
}
.contact-form input,
.contact-form textarea {
  padding: 1em;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  border-radius: 4px;
  font-size: 1em;
  margin-left: 2em;
  width: 70%;
}
.contact-form button {
  background-color: #213547;
  color: white;
  width: 200px;
  align-self: center;
  margin-top: 1em;
}
.contact-form button:hover {
  background-color: #00067c;
  cursor: pointer;
}
/* ---footer--- */
.footer {
  text-align: center;
  padding: 2em;
  border-top: solid 2px #444;
  color: #888;
  background: #242424;
  margin-top: auto;
}

/* Pets component  */
.pet-section {
  text-align: center;
  padding: 1em;
  color: #213547;
}
.pet-section a:hover {
  color: inherit;
}
.pet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding: 1.2em;
}
.pet-list .pet {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.pet-list .pet:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.pet-list .pet-img {
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
}
.pet-list .first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-weight: 600;
  font-size: 2em;
  margin: 0;
  padding: 0 0.5em;
}
.first-line p {
  margin: 0;
}
.pet-list .second-line {
  padding: 0 0.9em;
  font-size: 1.1em;
  color: #555555;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.pet-list .second-line p {
  margin: 0;
}
.pet-list .third-line {
  padding: 0 1em 1em 1em;
  text-align: left;
  color: #7c7c7c;
}
.pet button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  align-self: end;
  position: relative;
}
.pet-list .cart-button:hover img {
  scale: 1.1;
}
.pet-list .cart {
  width: 40px;
}

/* pet component */

.pet-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  padding: 2em;
  gap: 1.5em;
}
.pet-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;
  align-items: stretch;
  padding: 2em;
}
.pet-details .left-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pet-details .right-section {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.pet-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-details .sold {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.4rem;
  background: rgb(173, 0, 0);
  align-self: center;
  padding: 0.3em 0.6em;
  border-radius: 8px;
  margin-bottom: 0;
}
.pet-details .in-stock {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.4rem;
  background: rgb(1, 146, 1);
  align-self: center;
  padding: 0.3em 0.6em;
  border-radius: 8px;
  margin: 0;
}
.pet-details h1 {
  margin: 0;
  font-size: 4em;
}
.pet-details .price {
  font-size: 3em;
  font-weight: 600;
  color: #b10000;
  margin-bottom: 0;
}
.pet-details .margin-top {
  margin-top: 0;
}
.pet-details .old-price {
  text-decoration: line-through;
  color: #777777;
  font-size: 2.5em;
  margin: 0;
  font-weight: 400;
}
.pet-details .description {
  font-size: 2rem;
  color: #444444;
  margin: 0;
}
.pet-details .petDetails {
  font-size: 1.5rem;
  color: #000000;
}
.pet-details .petDetails p {
  margin: 0;
}
.pet-details .petDetails h3 {
  margin: 0.5em 0 0.2em 0;
  font-size: 1.5em;
}
.pet-details .petDetails span {
  font-weight: bold;
}
.pet-details .bottom h3 {
  margin: 0.5em 0 0.2em 0;
  font-size: 2em;
}
.pet-details .bottom p {
  font-size: 1.5rem;
  color: #000000;
}
.pet-details .bottom span {
  font-weight: bold;
}
.pet-details .vaccinations p {
  margin: 0;
}
.pet-details .vaccine {
  font-weight: 400 !important;
}
.pet-details .top {
  display: flex;
  justify-content: space-between;
}
.pet-details .top button {
  color: white;
  background: rgb(2, 26, 163);
  font-weight: bold;
  padding: 0.8em;
}
.pet-details .top button:hover {
  background: rgb(12, 0, 80);
  border: none;
}

/* Login and Register forms */

.login-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 4em 2em;
  color: #000000;
}
.login-component h1 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border: solid 1px #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
}
.form input {
  width: 100%;
  padding: 0.8em;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 1em;
}
.form label {
  font-size: 1.2em;
  font-weight: 500;
}
.form button {
  width: 100%;
  background-color: #213547;
  color: white;
  padding: 0.8em;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
}
.form button:hover {
  background-color: #00067c;
  cursor: pointer;
}
.switch-page {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.switch-page button {
  background: none;
  border: none;
  color: #213547;
  cursor: pointer;
  font-size: 1.5em;
  text-decoration: underline;
  padding: 0;
}
.switch-page button:hover {
  color: #00067c;
}

/* media queries */

@media (max-width: 768px) {
  .pet-details {
    grid-template-columns: 1fr;
    min-height: auto;
    gap: 2em;
  }

  .pet-details .left-section {
    max-height: 400px;
  }
}

@media (max-width: 430px) {
  .socials .icons {
    gap: 3em;
  }
  .about-section p {
    font-size: 1.1rem;
  }

  .pet-details {
    gap: 1.5em;
  }
}
